html,
body {
    margin: 0;
    height: 100%;
    overflow: hidden;
}
body {
    background-color: #000051;
}
#message-form {
    position: absolute;
    bottom: 0px;
    margin-top: 0;
    padding: 15px;
    height: 50px;
    width: 100%;
    font-size: 1.5em;
    background-color: #534bae;
    text-align: center;
    white-space: nowrap;
}
#message-box {
    padding: 0px 10px;
    width: 80%;
    height: inherit;
    font-size: inherit;
}
#send {
    height: inherit;
    width: 10%;
    font-size: inherit;
    border: 2px solid #39796b;
    border-radius: 5px;
    background-color: #00251a;
    color: aliceblue;
}

#send:hover {
    cursor: pointer;
}
